.register_container{
    -fx-background-color: black;
}

.register_container_secondary{
    -fx-background-color: #016064;

}

.register_container_buttons {
    -fx-background-color: #016064;
    -fx-text-fill: white;
}
.register_font_icon {
    -fx-font-family: "Ikonli";
    -fx-font-size: 16px; /* rozmiar ikon */
    -fx-fill: #FFFFBA; /* kolor ikon */
}


.light_switch_button {
    -fx-background-color: #000222;
}